@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: none;
}
.topmessage {
  font-size: 12px;
    position: absolute;
      top: 6px;
      right: 35%;
}
.topmessage a {
  cursor: pointer;
  font-size: 12px;
}
.topmessage a:hover {
  color: #1098ad;
}
.navbar ul {
  display: flex;
  width: 96%;
  align-items: center;
  background-color: white;
}
.navbar li {
  list-style-type: none;
  padding: 1rem;
  margin-right: 10px;
}
.navbar a {
  text-decoration: none;
}
.navbar_logo {
  flex: 1;
  font-size: 40px;
  user-select: none;
  margin-left: 8.7%;
}
.navbar_toggle {
  display: none;
}
.navbar_links:hover {
  background-color: cyan;
}
.navbar_links:hover a {
  color: white;
}
@media (max-width: 600px) {
  .navbar ul {
    flex-wrap: wrap;
  }
}
.person {
  cursor: pointer;
  position: absolute;
  right: 70px;
  top: 7%;
}
.person2 {
  cursor: pointer;
  position: absolute;
  left: 137px;
  top: 78%;
}
.container {
  width: 88%;
  height: 100vh;
  background-position: center;
  padding-left: 9.6%;
  padding-right: 8%;
}
.row {
  display: flex;
  height: 80%;
  align-items: center;
}
.col {
  flex-basis: 50%;
  line-height: 2;
}
.p {
  font-size: 14px;
  line-height: 70px;
}
h3 {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 48px;
}
.pic {
  width: 770px;
  height: 800px;
  display: inline-block;
  border-radius: 0px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(img/aside.png);
  background-position: cover;
  background-size: cover;
    position: absolute;
    right: -15px;
    top: 15%;
}
.nametag {
  display: flex;
  font-size: 14px;
  position: absolute;
  right: 1110px;
  top: 80%;
}
.bodywrapper {
    width: 600px;
    margin: 70px auto;
}
.firstletter {
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  right: 1042px;
  top: 127.5%;
}
.leadpar {
  position: absolute;
  right: 500px;
  left: 480px;
  top: 127.95%;
}
#vertical-line {
  width: 3px;
  height: 130px;
  background-color: black;
  margin-top: 80px;
}
.vl-text {
  position: absolute;
  right: 490px;
  left: 480px;
  top: 267.6%; 
}
#list {
  margin-left: 35px;
}
.footer {
  width: auto;
  height: 600px;
  background-color: rgb(22, 17, 48);
}
#tp {
  color: aliceblue;
  font-size: 30px;
  padding-left: 140px;
  padding-top: 90px;
}
/* .socials ul{
  display: flex;
  width: 88%;
  align-items: center;
  background-color: white;
  margin-top: -50px;
}
.socials li {
  list-style-type: none;
  padding: 1rem;
  margin-right: 33%;
}
.socials a {
  text-decoration: none;
}
.p-para {
  flex: 1;
  font-size: 16px;
  user-select: none;
  margin-left: 33%;
} */
.share-p {
  display: flex;
  justify-content: left;
  margin-top: -45px;
  margin-bottom: 30px;
  margin-left: 460px;
}
.sec3-wrapper {
  display: flex;
  justify-content: right;
    position: absolute;
      right: 29%;
  margin-top: -50px;
  margin-bottom: 30px;
}
.social-media {
  display: flex;
  background: none;
  height: 35px;
  width: 35px;
  margin: 0 15px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0);
  transition: transform 0.5s;
}
.social-media i {
  font-size: 20px;
  color: rgb(122, 120, 120);
  transition: tranform 0.5s;
}
.social-media:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.01);
  transform: translateY(2px)
}
.social-media:hover i {
  transform: scale(0.90);
}
.social-media:hover .fa-twitter {
  color: rgb(84, 124, 199);
}
a:hover .fa-facebook {
  color: blue;
}
a:hover .fa-linkedin {
  color: rgb(26, 26, 72);
}
.button {
  display: flex;
  background: none;
  height: 35px;
  width: 90px;
  margin: 0 15px;
  padding: 0px 0px 0px 30px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0);
  transition: transform 0.5s;
}
.copy-link-button {
  display: flex;
  flex-grow: 1;
  /* padding: 0 8px; */
  font-size: 12px;
  margin: -30px 15px 0px 12px;
  background: none;
  /* border: 1px solid rgb(67, 66, 66); */
}